/*  Макет - https://www.figma.com/file/5mw0SMxtOcr4i8nvl5vjjv/Relvise?node-id=964%3A17400&t=m4JvuSghJVGZjp6q-0 */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-family: Montserrat;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;

}

/* ! >>>>>>>>>>>>>>>>>>Шапка<<<<<<<<<<<<<<<<<<<<< */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__menu {
    margin: 0px 0px 0px 133px;
}

/* ? Адаптив под размеры экранов мобилок ( отсутпы от лого ) */
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width:767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width:479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

/* ? ------------------------------------------------------- */
.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    color: #737373;
    line-height: 171%;
    /* ? line-height: calc(24/14*100%); */
    font-weight: 600;
}

/* ? Увеличение шрифта меню длю удобства пользования на мелких экранах */
@media (max-width:479px) {
    .menu__link {
        font-size: 18px;
    }
}

/* ? ----------------------------------------------------------------- */

/* ! Main page */
.page {
    flex: 1 1 auto;
}

/* ! Footer */
.footer {}